# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Scripts de ventana (copias de respaldo)
*.pyw

# Archivo temporal del editor online
tempCodeRunnerFile.py

# Entornos virtuales
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Sistema operativo
Thumbs.db
.DS_Store
desktop.ini